<!DOCTYPE HTML>
<!--
	Snapshot by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Snapshot by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="index.html" class="active"><span class="icon fa-home"></span></a></li>
						<li><a href="gallery.html"><span class="icon fa-camera-retro"></span></a></li>
						<li><a href="generic.html"><span class="icon fa-file-text-o"></span></a></li>
					</ul>
				</nav>

			<!-- Main -->
				<section id="main">

					<!-- Banner -->
						<section id="banner">
							<div class="inner">
								<h1>Partidos Politicos</h1>
								<p>Propuesta de partidos politicos </p>
								<ul class="actions">
								</ul>
							</div>
						</section>

					<!-- Gallery -->
					

							<!-- Photo Galleries -->
								<div class="gallery">
									<header class="special">
										<h2>Quienes Son</h2>
                  </header>
                  <div class="md-row">
                      <div class="md-col-33">
                        <div class="main">
                          <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../../../assets/images/thumbs/01.jpg">
                              </div>
                              <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">This is a link</a></p>
                              </div>
                              <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="md-col-33">
                        <div class="main">
                          <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../../../assets/images/thumbs/02.jpg">
                              </div>
                              <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">This is a link</a></p>
                              </div>
                              <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="md-col-33">
                        <div class="main">
                          <div class="card">
                              <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="../../../assets/images/thumbs/03.jpg">
                              </div>
                              <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                                <p><a href="#">This is a link</a></p>
                              </div>
                              <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                              </div>
                            </div>
                          </div>
                      </div>
                     
                    </div>
								
								</div>
			

</section>
</div>
	</body>
</html>



  
