<header>
  <meta charset="utf-8" />
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</header>
<div class="navbar-fixed">
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <ul class="right hide-on-med-and-down">
            <li><a href="/inicio" >Inicio</a></li>
            <li><a href="/partidos" >Partidos</a></li>
            <li><a href="/propuestas" >Propuestas</a></li>
          </ul>
        </div>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/inicio" >Inicio</a></li>
        <li><a href="/partidos" >Partidos</a></li>
        <li><a href="/propuestas" >Propuestas</a></li>
      </ul>
    </div>
  </nav>
</div>